@{
    ViewBag.Title = "User Note";
    this.Layout = null;
}
@using Web.Models
@model BusinessUserExt
<div id="formContainer">
@using (Html.BeginForm())
{ 
    <textarea cols="20" rows="10" name="note">@Model.Note</textarea>
    <input  type="hidden" name="userID" value="@Model.UserGuid"/>
    <input type="button" id="submitButton" value="Save" />
}
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#submitButton").click(function () {
            submitAndRedirect("#formContainer form", '@Url.Action("SecuredLoanList")');
        });
    });
</script>


